<ion-view>
    <ion-header-bar class="bar-positive" align-title="center">
  		<a class="button button-icon ion-chevron-left" ng-hide="iseditor" ng-click="goBack()"></a>
		<h1 class="title" ng-click="changeMethod($event)">号码篮</h1>
	</ion-header-bar>
	<div class="result-operate">
	    <span class="ar-btn" ng-click="goPick()">自选号码</span>
	    <span class="ar-btn" ng-click="getrandomBalls()">机选一注</span>
	    <span class="ar-btn" ng-click="showConfirm()">清空</span>
	</div>
     <div class="result-list-shadow"></div>   
	<!--注单-->
    <ion-content class="has-footer has-header bg-drawing" overflow-scroll="true">
       <div class="result-box">
            <div class="result-list">
                <ul class="{{_bets.length?'scheme-list':''}}">
	                    <li class="scheme {{obj.danshi?'scheme2':''}}" ng-repeat="(i,obj) in _bets track by $index"
	                        ng-click="editLottory(i,obj,_bets)">
	                        <dl>
	                            <dt>
	                            	{{obj.bet}}
	                            </dt>
	                            <dd>{{obj.title}} {{obj.count }}注x{{ unitPrice}}元</dd>
	                        </dl>
	                        <span class="scheme-multiple">
	                        	<button>{{$root.award}}</button>
	                            {{$root.continuesBet > 1 ? $root.globalMultiple : obj.multiple * $root.globalMultiple }}倍
	                        </span>
	                        <span class="scheme-delete" ng-click="removeBucketItem(i,_bets,$event)"></span>
	                    </li>
                    </div>
                </ul>
        </div>
    </ion-content>
  <!--追号,加倍-->
    <div class="extra-operate extraOperateShow">
        <div class="extra-box">
            <label>投</label>
            <p>
                <span class="op-plus" ng-click="minderMutl()">-</span>
                <input type="number" ng-model="$root.globalMultiple" ng-keyup='globleMultipleChange(true)'>
                <span class="op-minus" ng-click="globleMultipleChange()">+</span>
            </p>
            <label>倍</label>
        </div>
        <div class="extra-box">
            <label>追</label>
            <p>
                <span class="op-plus" ng-click="minusContinuesBet()">-</span>
                <input type="number" ng-model="$root.continuesBet" ng-keyup='plusContinuesBet(true)'>
                <span class="op-minus" ng-click="plusContinuesBet()">+</span>
            </p>
            <label>期</label>
        </div>
    </div>
    <div class="zhuihao">
        <span><input type="checkbox" id="traceWinStop" ng-model="traceWinStop" /></span>
        <label for="traceWinStop">中奖后停止追号</label>
    </div>
<!--页脚-->
    <div class="bar bar-footer bar-stable">
        <div class="select-result">
            <dl class="result-money confirm-money">
                <dt>共{{ $root.betsCounts }}注，<span>{{$root.betsMoney|number:1 }}元 </span>
                </dt>
                <dd>余额：{{ balance | currency: ''}}元</dd>
            </dl>
        </div>
        <div class="result-next result-confirm" ng-click="gosubmit(0)">投注</div>
    </div>

</ion-view>
