<ion-view>
<!--头部开始-->	
	<ion-header-bar class="bar-positive" align-title="center">
  		<a class="button button-icon ion-chevron-left" ng-hide="iseditor" ng-click="goBack()"></a>
		<h1 class="title" ng-click="changeMethod($event)">{{ currentMethodTitle }}
			<span class="icon ion-chevron-down 
						{{ poptypeshow ? 'ion-chevron-up':'ion-chevron-down'}}"
                  ng-hide="iseditor">
            </span>
        </h1>
  		<a class="button button-icon icon ion-more" ng-click="menuShowHander()"></a>
	</ion-header-bar>
<!--头部结束-->	
<!--更多选项开始-->	
		<div class="ar-popmenu" ng-show="menuShow">
	        <ul>
	            <li><a href="#"> 走势图</a></li>
	            <li ng-click="yuanjiao()">模式 {{ moneyUnit==1?"元":"角" }}</li>
	            <li ng-click="fandian()"  ng-show="awardGroupRetStatus">奖金返点</li>
	            <li ng-click="showPlayInfo()">玩法说明</li>
	            <li><a href="#">电脑版</a></li>
	        </ul>
	    </div>
<!--更多选项结束-->	
<!--游戏玩法开始-->
	<div class="ar-poptype" onscroll="true" ng-class="{active: poptypeshow}">	
        <div class="row">
            <div class="col mytitle {{i == choosedType ? 'active':''}}" ng-repeat="(i,gameMethods) in gameMethodsGroup" ng-click="slideChange(i,gameMethods)">
                <span>{{gameMethods.title}}</span>
            </div>
        </div>

        <ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="slidebox"  active-slide ="choosedType">
            <ion-slide ng-repeat="(k,_gameMethods) in gameMethodsGroup">
                <dl ng-repeat="_gameMethod in _gameMethods.childs">
                    <dt>{{_gameMethod.title}}:</dt>
                    <dd>
	                    <span class="typeSpans {{j==0&&_gameType.parent=='renxuanwuzhongwu'?'active':''}}" ng-click="chooseGame(j,_gameType,$event)" ng-repeat="(j,_gameType) in _gameMethod.childs">
	                       {{_gameType.title}}
	                    </span>
                    </dd>
                </dl>
            </ion-slide>
        </ion-slide-box>
    </div>
    <div class="ar-poptype-curtion" ng-class="{active: poptypeshow}"></div>
<!--游戏玩法结束-->

<!--开奖历史开始-->
<div class="game-history {{singleMode?'hide':'' }}">
	<div class="curtion"  ng-class="{active: historyShow}">
	    <div class="history-bar">     
		    <span>距{{issueNumber}}期截止 <span class="timecount">{{issueMinitus}}分{{issueSeconed}}秒</span></span>
		    <span class="ai-random" ng-click="getRandom()">机选</span>      
	    </div>

	    <div class="history-box">
	        <table cellpadding="0" cellspacing="0" ng-show="historyShow">
	            <tr>
	                <th>期号</th><th>开奖结果</th><th>跨度</th><th>和值</th><th>超级2000</th>
	            </tr>
	            <tbody>
		            <!--<tr ng-repeat="item in historyRecord">
		                <td>{{item.webIssueCode}}</td>
		                <td>{{item.numberRecord}}</td>
		                <td>{{item.kuadu}}</td>
		                <td>{{item.totValue}}</td>
		                <td><span class="icon {{item.super2000?'ion-android-done':'ion-android-close'}}"></span></td>
		            </tr>-->
		            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
					<tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
		            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
		            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
					<tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
		            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
		            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
					<tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
		            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
		            <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
	            </tbody>
	        </table>
	        <a href="#" class="viewmore" ng-show="historyShow">查看更多</a>
	        <span class="open-button icon {{historyShow?'ion-ios-arrow-up' :'ion-ios-arrow-down hide'}}" ng-click="showRecord10()"></span>
	    </div>
    </div>
</div>
<!--开奖历史结束-->    
<!--选球界面开始-->
<ion-content  class="has-footer has-header" delegate-handle="mainScroll" style="top:77px;">
	<div class="number-select-content" ng-hide="singleMode">
		<div class="number-select-list" ng-repeat="bt in ballTree">
		    <div class="list-top">
		        <h3>{{ bt.h3 =='isEditor' ? '': bt.h3}}</h3>
		        <ol>
		            <li class="{{ q.active ? 'active':''}}" ng-repeat="q in bt.quick"
		                ng-click="quick(bt,q)">{{q.cnt}}
		            </li>
		        </ol>
		    </div>
		    <ul class="ball-list">
		        <li ng-repeat="ball in bt.balls" class="{{ball.cnt.length >=4 ? 'dds' : ''}} {{ ball.active ? 'active':'' }}"  ng-click="chooseBall(ballTree,ball,bt)">{{ball.cnt}}
		        </li>
		    </ul>
		</div>		
	</div>

<!--单式-->
	<div class="number-select-content {{ singleMode ? '':'number-select-content2'}}">
	    <div class="row option-label" ng-hide="beforesubmited">
	        <div class="col label">请输入注单:</div>
	        <div ng-click="helprule()" class="col">帮助</div>
	        <div ng-click="clearVal()" class="col">清空</div>
	    </div>

	    <div class="row option-label" ng-hide="!beforesubmited">
	        <div class="col label">请输入注单:</div>
	        <div ng-click="helprule()" class="col">规则</div>
	        <div ng-click="cancelSubmited()" class="col">返回</div>
	    </div>

	    <div class="number-select-content-danshi">
	        <p class="tips-danshi" ng-show="ShowtextareaTip">
	            1.输入的注单请参照如下规则：单注内各号码保持相连，不同注号码间用分隔符隔开;<br>
	            2.分隔符支持：回车[ ]空格[ ]逗号[,]分号[;]冒号[:]竖线[|];<br>
	            3.文件较大时，提交注单可能需要一定时间，请耐心等待;
	        </p>

	        <textarea class="text-areas" ng-focus="textareaFocus()" ng-blur="textareaBlur()" ng-model="$parent.input" rows="20"></textarea>
	    </div>
	    <div ng-show="hasDanshiErrror">
	        <div class="showtextarea-err" ng-click="showtextareaError()">
	            被排除的问题
	        </div>
	    </div>
	</div>

</ion-content>
<!--选球界面结束-->

<!--footer开始-->
<div class="bar bar-footer bar-stable {{ hasChoose && !singleMOde ?'active':'' }}">
    <em class="text-center submit-button  {{isFocus?'active':''}}" ng-hide="beforesubmited"
        ng-click="textareaSubmit()">提交</em>
    <ul class="custompluse" ng-hide="extraisShow">
        <li class="pluseitem" ng-click="customMutiple(-10,$event)"><span class="n">-10</span></li>
        <li class="pluseitem" ng-click="customMutiple(-1,$event)"><span class="n">-1</span></li>
        <li class="pluseitem" ng-click="customMutiple(1,$event)"><span class="n">+1</span></li>
        <li class="pluseitem" ng-click="customMutiple(10,$event)"><span class="n">+10</span></li>
    </ul>
    <div ng-hide="iseditor">
        <div class="select-result" ng-class="{hasBall:hasBall}">
            <div class="result-title" ng-click="clickMutit($event)">
                <span ng-hide="!extraisShow">{{ multiple == 1 ? "倍投x1": ('x'+multiple) }}</span>
                <input class="titleInput" ng-hide="extraisShow" type="tel" disabled ng-model="multiple"
                       ng-init="multiple=1"
                       ng-value="multiple">
            </div>

            <dl class="result-money" ng-click="setBukets(singleMode ? 'false' : undefined)">
                <dt>已选{{ count }}注x{{ unitPrice }}元</dt>
                <dd>{{ count * unitPrice * multiple | number:1}}元</dd>
            </dl>
            <span class="result-plus"
                  ng-click="setBukets(singleMOde ? 'imadanshi':undefined)">{{singleMOde ? ' ':'+'}}</span>
        </div>
        <div class="result-next {{singleMOde?'result-next2':''}}" ng-click="goBucket()">{{singleMode?'确定':'号码篮'}}<span
                ng-show="globalCount"
                class="result-count">{{ globalCount }}</span>
        </div>
    </div>

    <div ng-show="iseditor">
        <div class="select-result select-result2">
            <div class="result-title" ng-click="clickMutit($event)">
                <span ng-class="{ titleText : extraisShow}">
                    {{ shopCar.multiple == 1?"倍投x1": ('x'+ shopCar.multiple) }}
                </span>
                <input ng-class="{ titleInput : extraisShow}" type="tel" disabled ng-model="shopCar.multiple"
                       ng-init="shopCar.multiple=1"
                       ng-value="shopCar.multiple ">
            </div>
            <span ng-click="goBucket(true)" class="comfirm">确定</span>
        </div>
    </div>
</div>
<!--footer结束-->
</ion-view>